<a name="new-modules" id="new-modules">
  <div class="fullwidth whitescale hidden">
    <div class="wrapper top-padding">
      <br /	>
      <img src="/assets/project_modules_ex.png" style="display:block; margin:0 auto;">
      <br><br>
      <div class="title-wrapper">
        <h2>Setting up modules</h2>
        <h6>Every project has its stages. What are yours?</h6>
      </div>
      <div class="new-modules">
        <ul class="module-circle">
          <li>
            <img src="/assets/toolbox-turq.png">
            <div class="new-module-title">Planning</div>
          </li>
          <li id="create-module" >
            <img src="/assets/toolbox-turq.png">
            <div class="new-module-title create">New Module</div>
          </li>
        </ul>

        
        <br><br><br><br><br><br><br><br><br>
        <%= link_to 'New Module', '#', :id => 'new-module-modal' %>
        <input type="submit" id="goto-team" data-destination="#new-team" class="btn" value="Next" />	
