<a name="new-modules" id="new-modules">
  <div class="fullwidth whitescale hidden">
    <div class="wrapper top-padding">
      <br /	>
      <img src="/assets/project_modules_ex.png" style="display:block; margin:0 auto;">
      <br><br>
      <div class="title-wrapper">
        <h2>Setting up modules</h2>
        <h6>Every project has its stages. What are yours?</h6>
      </div>

      
      <div class="new-modules">
        <ul class="module-circle">
  
        <% @project.sections.each do |project_section| %>
          <%= render partial: 'sections/new_module_icon', locals: { section: project_section } %>
        <% end %>



          <li id="create-module" >
            <img src="/assets/toolbox-turq.png">
            <%= link_to 'New Module', '#', id: 'new-module-modal', class: 'new-module-title create' %>
          </li>
        </ul>

        
        <br><br><br><br><br><br><br><br><br>
        <input type="submit" id="goto-team" data-destination="#new-team" class="btn" value="Next" />	
