<a name="new-team" id="new-team">
<div class="fullwidth grayscale newform">
	<div class="wrapper top-padding">
	<br /	>
	<figure>
		<img src="/assets/celtics.jpg" >
		<figcaption>Boston Celtics 1965/6 team</figcaption>
	</figure>
	 <br><br>
		<div class="title-wrapper">
			<h2>Great project means great team</h2>
			<h6>Or perhaps you were running solo?</h6>
        </div>
        <%= render :partial => 'members/new_member_pop' %>
        <%= link_to 'New member', '#', :id => 'new-member-modal' %>
	 
	</div>
</div>
