
<div id="container">
	<div class="fullwidth">
	<div class="wrapper top-padding">
		<div class="message">
			<h1>A Word</h1>
			<p>Building Workflo was my intention to give the world an opprotunity to express itself and share the blah blah.
			</p>

			<p>
				Hello <%= current_user.name %>
			</p>
		</div>
	</div>
</div>
</div>
<div style="clear:both;"></div>
</div>