<% content_for :project_header do %>
		<header>
<% end %>
<hgroup id="header">
	<h1><%= @project.title %></h1>
	<h2>Social netowkr</h2>
</hgroup>
</header>	

<div class="project-nav">
	<nav>
		<a href=""><div class="star"></div></a>
		<ul>
			<li class="selected"><%= @project.title %><li>
			<li>Manifest<li>
			<li>Team<li>
			<li>Whiteboard<li>
		</ul>
	</nav>
</div>


<div id="container">
	<div class="wrapper top-margin">
		<section id="project_id">
			<img src="images/project_logo.png">
			<br>
			<h3><%= @project.pitch %></h3>
			<h5>Web Application</h5>
			<br>
			<!-- <img src="images/project-icons.png"> -->
			<!-- Facts -->

		</section>
		<section id="project_pitch">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.

				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.

				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.

				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
			</p>
			<br>
			<h4>MANIFEST & GOALS</h4>

			<ul id="manifesto">
				<li>
					<div class="number-icon">1</div>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.ultricies sit amet ullamcorper eget, scelerisque at leo.ultricies sit amet ullamcorper eget, scelerisque at leo.</li>
				<li>
					<div class="number-icon">2</div>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.</li>
				<li>
					<div class="number-icon">3</div>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.</li>
				<li>
					<div class="number-icon">4</div>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.</li>
			</ul>
			<br>
			<h4>TEAM</h4>
			<ul id="team">
				<li><div class="member"></div></li>
				<li><div class="member"></div></li>
				<li><div class="member"></div></li>
			</ul>
		</section>

	</div>

</div>
<div style="clear:both;"></div>

	<div class="fullwidth grayscale">
		<div class="wrapper top-padding pos-relative">
				<div class="thumbset">
					<div class="icontainer">
						<img src="images/newplan.png" >
					</div>
					<h4>Planning</h4>
				</div>
			<article>
				<h1>Staging up the settings</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
				</p>
			<div class="issue-header"><img src="images/issue-icon.png" style="float:left; margin-left:-29px; display:inline; margin-top:-16px;">
					<a href="#" class="grayscale" id="modal" >The epiphanyasdad</a>
					<ul>
						<li class="grayscale"><img src="images/issue-chat.png"></li>
						<li class="grayscale"><img src="images/issue-like.png"></li>
					</ul>
			</div>
				<p class="issue">

ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					<button class="btn">Hello</button> <button class="btn">Hello</button>
				</p>
			<div class="issue-header"><img src="images/issue-icon.png" style="float:left; margin-left:-29px; display:inline; margin-top:-16px;">
					<a href="#" class="grayscale" >Drafting and Shaping the Idea</a>
					<ul>
						<li class="grayscale"><img src="images/issue-chat.png"></li>
						<li class="grayscale"><img src="images/issue-like.png"></li>
					</ul>
			</div>
				<p class="issue">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
		<div class="image">
		<img src="images/sketch.png">
		<div class="label">New Workflo Image (@hell)</div>

	</div>
				</p>
			<div class="issue-header"><img src="images/issue-icon.png" style="float:left; margin-left:-29px; display:inline; margin-top:-16px;">
					<a href="#" class="grayscale">Picking up the best team</a>
					<ul>
						<li class="grayscale"><img src="images/issue-chat.png"></li>
						<li class="grayscale"><img src="images/issue-like.png"></li>
					</ul>
			</div>
				<p class="issue">

ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
				</p>
			<div class="issue-header"><img src="images/issue-icon.png" style="float:left; margin-left:-29px; display:inline; margin-top:-16px;">
					<a href="#" class="grayscale">Completing Sketches</a>
					<ul>
						<li class="grayscale"><img src="images/issue-chat.png"></li>
						<li class="grayscale"><img src="images/issue-like.png"></li>
					</ul>
			</div>
				<p class="issue">
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
	<div class="image">
		<img src="images/sketch2.png">
		<div class="label">NEW WORKFLO IMAGE (@YOCHZE)</div>

	</div>
				</p>
				<img src="images/diamond.png" style="margin-left:auto; margin-right:auto; display:block;;">
			</article>
		</div>
		 <br clear="all" />
	</div>
<div class="fullwidth">
		<div class="wrapper top-padding pos-relative">
				<div class="thumbset">
					<div class="icontainer">
						<img src="images/newplan.png" >
					</div>
					<h4>Sketching</h4>
				</div>
			<article>
				<h1>Hello World</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
				</p>
								<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
				</p>
				<div class="issue-header">
					<img src="images/issue-icon.png" style="float:left; margin-left:-29px; display:inline; margin-top:-16px;">
					<a href="#" class="whitescale">Hello WorlWorlWorlWorld</a>
					<ul>
						<li class="whitescale"><img src="images/issue-chat.png"></li>
						<li class="whitescale"><img src="images/issue-like.png"></li>
					</ul>
				</div>
				<p class="issue">

ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
				</p>
			<div class="issue-header">
				<img src="images/issue-icon.png" style="float:left; margin-left:-29px; display:inline; margin-top:-16px;">
					<a href="#" class="whitescale">Hello WorlWorlWorlWorld</a>
					<ul>
						<li class="whitescale"><img src="images/issue-chat.png"></li>
						<li class="whitescale"><img src="images/issue-like.png"></li>
					</ul>
				</div>
				<p class="issue">

ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
				</p>
			<div class="issue-header">
				<img src="images/issue-icon.png" style="float:left; margin-left:-29px; display:inline; margin-top:-16px;">
					<a href="#" class="whitescale">Hello WorlWorlWorlWorld</a>
					<ul>
						<li class="whitescale"><img src="images/issue-chat.png"></li>
						<li class="whitescale"><img src="images/issue-like.png"></li>
					</ul>
				</div>
				<p class="issue">

ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
				</p>
			<div class="issue-header">
				<img src="images/issue-icon.png" style="float:left; margin-left:-29px; display:inline; margin-top:-16px;">
					<a href="#" class="whitescale">Hello WorlWorlWorlWorld</a>
					<ul>
						<li class="whitescale"><img src="images/issue-chat.png"></li>
						<li class="whitescale"><img src="images/issue-like.png"></li>
					</ul>
				</div>
				<p class="issue">

ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
				</p>
				<img src="images/diamond.png" style="margin-left:auto; margin-right:auto; display:block;">
			</article>
		</div>
		 <br clear="all" />
	</div>
	<div class="fullwidth grayscale">
		<div class="wrapper top-padding pos-relative">
				<div class="thumbset">
					<div class="icontainer">
						<img src="images/newplan.png" >
					</div>
					<h4>Planning #2</h4>
				</div>
			<article>
				<h1>Staging up the settings</h1>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
				</p>
			<div class="issue-header"><img src="images/issue-icon.png" style="float:left; margin-left:-29px; display:inline; margin-top:-16px;">
					<a href="#" class="grayscale">Hello WorlWorlWorlWorld</a>
					<ul>
						<li class="grayscale"><img src="images/issue-chat.png"></li>
						<li class="grayscale"><img src="images/issue-like.png"></li>
					</ul>
			</div>
				<p class="issue">

ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam arcu sem, ultricies sit amet ullamcorper eget, scelerisque at leo.
				</p>
				<img src="images/diamond.png" style="margin-left:auto; margin-right:auto; display:block;;">
			</article>

		</div>
		 <br clear="all" />

	</div>