

body { 
	margin:0; 
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	color:#333;
	font-size:10pt; }

h2 {
	/*font-family: 'Merriweather Sans', Sans;*/
	font-size: 18pt;
	text-align: center;
	color:#333;
	margin:0;
	font-weight: 400;
}

h3 { 
	font-size: 11pt;
	text-align: center;
	font-weight: 200;
	color: #2ba4ba; }

h4 {
	font-size: 9pt;
	color: #333; 
	display: inline;
	vertical-align: middle;
	font-weight: 800;}

h5 {
	font-size:10pt;
	font-weight: 300;
	margin:0;
	color:#888;
	text-align: center; }

h6 {
	font-size: 12pt;
	color:#898989;
	color: #617da2; 
	text-align: center;
	font-weight: 200;
	margin:0;
}

.hidden { display:none;}

header { 
	width: 100%; 
	height:480px;
	background: url('/assets/IMG_0090.jpg');
	background-size: 100%;
	position: relative;
	margin:0;
	background-color: #eee;}

.title-wrapper {
	width:400px; margin:0 auto;
}

.stuck{position: fixed; top: 0;}

#container { width: 100%;}
.fullwidth { width: 100%; top:0; display: block;min-height: 100px;   padding-bottom:14px; border-bottom: solid 1px #eee;}
.wrapper { width:960px; margin:0 auto; display: block;}
	.top-margin { margin-top: 23px; }
	.top-padding { padding-top:18px;}
	.grayscale { background: #f8f8f8; }
	.squares{ background:url(/assets/sq_bg_light.png); }
	.whitescale { background: #fff; }
	.leftborder { border-left: solid 3px #c4c4c4;}
	.pos-relative { position: relative; }
	.center-btn { text-align: center; }
nav img { margin-top: 7px; float:left; display: inline; position: relative; }

nav#top { 
	width: 100%; 
	height: 50px; }

.borderize-light {
	border-bottom: solid 1px #f8f8f8; }

.trans { background-color: transparent;}

ul.usericon { float: right; margin-right:23px; }
ul.usericon li {
	display: inline;
	list-style-type: none;
	font: 8pt arial;
	padding-top:18px;
	color: #898989; }

.usermenu {
	display: none;
	margin-top:30px;
	z-index: 9;
	margin-right:-130px;
	border-radius: 5px;
	border:solid 1px #000;
	box-shadow: inset 0px 0px 1px 0px #888;
	width:140px;
	background: #333;
	position: relative;
	min-height: 100px;
	z-index: 0;
	padding-left:1px;
	float:right;
}


.tiny-profile-picture {
	border-radius:150px; 
	width:28px; 
	height:28px; 
	background:url('http://y14.io/images/me.png'); 
	z-index:99999; 
	position:relative; 
	border:solid 2px #f8f8f8;
	background-position:center; 
	background-size:150%; 
	background-repeat:no-repeat;
}

.tiny-profile-picture:hover + .usermenu { display:inline-block;} 

ul.personal-menu { margin:0; list-style:none;display: block; margin-top:18px; float:none;}
ul.personal-menu  li:first-child {border:0;border-bottom:solid 1px #393939;}
ul.personal-menu  li {
	border-top:solid 1px #272727;
	border-bottom:solid 1px #393939;
	line-height: 23px;
	padding:2px;
	margin-left:-40px;
	text-align: center;
}

ul.personal-menu  li:hover { background: #2d2d2d;}

ul.personal-menu  li:last-child { padding-bottom:4px;}
ul.personal-menu a {
	font-size: 8pt;
	color: #c4c4c4;
	font-weight:600;
	text-decoration: none;
	text-align: center;
}

ul.personal-menu a:hover { color: #fff; }
/* Home Page */

.splash-label {
	background: #333;
	opacity: 0.7;
	color: #eee;
	position: absolute;
	bottom:0;
	margin-left: 900px;
	float:right;
	font-size: 8pt;
	font-weight: 400;
	padding:5px;
}

.message h1 {
	font-family: 'Noto Serif', Serif;
	font-size:23pt;
	font-weight: bold;
	margin:0;
	text-align: center;
}

.message p {
	font-size:12pt;
	width:700px;
	margin:0 auto;
	margin-top:18px;
}




/* Project Page */
hgroup#header {
	font-family: 'Merriweather Sans', Sans;
	color: white;
	width:960px;
	height: 120px;
	margin:0 auto;
	margin-top: 330px;
}

hgroup#header h1 {
	font-size: 32pt;
	text-shadow: 0px 1px 0px #000;
	font-weight: 600; }

hgroup#header h2 {
	font-size: 12pt;
	font-weight: 300; 
	color: #c4c4c4;
	text-shadow: 0px 0px 0px #000;
	text-align: left;
	margin-top:-20px; }

.project-nav { 
	width: 100%; 
	height: 48px; 
	background: url('/assets/sq_bg_light.png');
	background-color: #fff;
	border-top: solid 2px #eee; 
	z-index: 9;
	border-bottom: solid 2px #eee; }

.project-nav nav { width: 960px; margin:0 auto; position: relative; background: transparent; }

.project-nav ul { list-style: none; margin-top:16px; margin-left:-23px; float:left;}

.project-nav ul li { 
	list-style: none;
	display: inline;
	padding-left: 5px;
	color:#898989;
	padding-right: 5px;
	text-align: center;
	font-weight: 400;
	font-size: 10pt;}

.project-nav ul li.selected {
	border-bottom: solid 4px #617da2;
	padding-bottom:12px;
	color:#323232;
}

.star {
	float:right; margin-top:10px; height:10px; width:26px; height:26px; background:url('/assets/star-h.png');
}

.star:hover {
	background:url('/assets/star-f.png');
}
/* End Header */
section#project_id {
	padding-top:10px;
	float:left;
	display: inline-block;
	width:240px;
}

section#project_id img {
	display: block;
	margin-left: auto;
	margin-right: auto; 
	margin-bottom:-18px;}

section#project_pitch { 
	float:right;
	display: inline-block;
	min-height:180px;
	width:700px; }

section#project_pitch p {
	font-size: 14pt; 
	font-weight: 300;}

ul#manifesto {
	list-style-type: none;
	width:650px;
	margin-left: -10px;
	margin-bottom:33px;
}

ul#manifesto li {
	border-bottom: solid 1px #d5d5d5;
	/*border-top: solid 1px #d5d5d5;*/
	font-size: 12pt;
	padding: 10px; 
}

.number-icon {
	width: 32px;
	text-align: center;
	position: absolute;
	margin-left:-48px; 
	height: 26px;
	font-size: 10pt;
	font-weight: 600;
	display: inline-block;
	padding-top:6px;
	border-radius: 150px;
	color:#d5d5d5;
	border: solid 1px #eee; }

ul#team {
	list-style-type: none;
	/*text-align: center; */}

ul#team li {
	display: inline;
	margin:14px;
}

.member {
	width:80px;
	height:80px;
	border-radius: 150px; 
	border: solid 3px #eee;
	display: inline-block;
	/*background: url('http://y14.io/images/me.png');*/
	background-position: center;}

section#section { 
	width: 960px; 
	padding-left: 23px;}

.thumbset .icontainer {
	display: inline-block;
    vertical-align: top;
	min-width: 60px; }

.thumbset {
	float: left;
	display: inline;
	width: 200px;
	z-index: 2;
	left:0;
	top:23px;
}

.thumbset img { display: inline; float: left; }

.sticky-thumbset {
	width:960px;
	position: fixed;
	margin-top:50px;
	display: inline;
	left:50%;
	width:200px;
	margin-left:-480px; }

.sticky-wrapper { display: inline; }


article {
	float:right;
	display: inline-block;
	width: 700px;
	margin-right:60px; }

article p {
	font-size:14pt;
}

article p.issue {font-size:12pt; font-weight: 300; margin-top:14px;}

article h1 {
	font-family: 'Merriweather Sans', Sans;
	font-size: 21pt;
	margin:0;
	font-weight: 600;
	color: #333;
	text-align: center;
}

.issue-header {
  text-align:center;
  border-top:1px solid #d5d5d5;
  width:100%;
  margin-top:63px;
  position: relative;
}

.issue-header a {
	top:-10px;
	padding-left:5px;
	padding-right:5px;
	display: inline-block;
	position: relative;
	font-size:10.5pt;
	outline: none;
	font-weight: 600;
	text-decoration: none;
	color:#333;
}

.issue-header a:hover {
	color:#617da2;
}

.issue-header ul {
	display: inline;
	position: absolute;
	width:80px;
	top:-21px;
	right:0;
	height:16px;
	}

.issue-header ul li {
	display: inline-block;
	font-size:8pt;
	color:#d5d5d5;
	height:16px;
	padding-left:3px;
	padding-right:3px;
	/*opacity: 0.5;*/
}
.issue-header ul li:hover { opacity: 1;}

.issue-modal {
	border:solid 1px #d5d5d5;
	border-radius: 3px; }


/* Form set */

.new-wf {
	width:410px;
	min-height: 400px;
	margin-top:23px;
	border:solid 1px #f4f4f4;
	box-shadow: 1px 1px 0px #eee;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	background-color: #fff;
	border-radius: 5px;
	padding: 10px;
}

.wide { width: 700px;}

.new-wf-logo {
	margin:0 auto;
	width:128px;
	height:128px;
	padding-top:14px;
}

.text-new {
	width:320px;
	height:25px;
	border-radius: 3px;
	padding:5px 5px 5px 10px;
	font-size:11pt;
	outline: none;
	margin-top:14px;
	border: solid 1px #d0def4;
	 }

.text-new::-webkit-input-placeholder {
	font-style: italic;
	font-family: 'Noto Serif', Serif;
	font-size:11pt;
	color:#d5d5d5;
}

.text-new::-moz-placeholder {
	font-style: italic;
	font-family: 'Noto Serif', Serif;
	font-size:11pt;
	color:#d5d5d5;
}

.btn { 
	min-width:80px;
	height:33px;
	border-radius: 3px;
	padding-top:0;
	background-color: #617da2;
	font-size: 8pt;
	display: inline-block;
	color:#eee;
	text-transform: uppercase;
	outline: 0;
	border:0;
}

.bright {
	background-color: #00a7bd;
}

.btn:hover {
	color:#fff;
	background-color: #5c7699; }

.btn:active {
	/*box-shadow: inset 0px 18px 0px #536c8d;*/
	padding-top:2px;
}


/* New Modules */

.new-modules {
	margin:0 auto;
	margin-top:43px;
	width:680px;
	text-align: center;
}

.new-modules ul {
	position: relative;
	height:40px;
	border-bottom: solid 7px #eee;
}
ul.module-circle li {
	width:75px;
	z-index: 999;
	background: white;
	float:left;
	height:75px;
	border-radius: 150px;
	border: solid 5px #eee;
	display: inline-block;
	margin-right: 70px;
	margin-bottom:45px;
}

.new-modules img {
	display: block;
	margin:0 auto;
	-webkit-filter: grayscale(100%);
	margin-top:16px;
}

.new-module-title {
	display: block;
	margin-top:30px;
	font-size:9pt;
	text-align: center;
	font-weight: 600;
	color:#898989;
	text-decoration: none;
}

.new-module-title:hover {
	color:#333;
	text-decoration: underline;
	/*border-bottom: solid 1px #00a7bd; */
}

ul.module-circle li:last-child, .create { color:#c4c4c4; border-color: #f8f8f8;}

ul.module-circle li:last-child:hover {
	border-color:#eee;
}


/* New Team */

.new-team {
	width: 700px;
	margin:0 auto;
	margin-top:43px;
}

.new-team ul {
	list-style-type: none;
	width: 100%;
	margin:0;
	padding:0;
	/*text-align: center; */}

.new-team ul li {
	display: inline-block;
	margin:23px; }

.member {
	width:80px;
	height:80px;
	border-radius: 150px; 
	border: solid 3px #eee;
	display: inline;

}



.member-name, .member-name-label {
    margin-top:5px; 
    display: block;
	font-weight: 600;
	color:#898989;
    text-align: center;
}

.member-role {
	display: block;
	font-size:8pt;
	font-style: italic;
	text-align: center;
} 

.member-role-label, .member-name-label {
	color:#eee; }


.single-member {
	display: inline;
	width: 230px;
}

.single-member-left {
	display: inline-block;
	float:left;
	min-width: 90px;
}

.single-member-right {
	display: block;
	float:left;
	margin-left:14px;
	vertical-align: middle;
}

/* Profile Page */

.profile-picture {
	width:120px;
	height:120px;
	border: solid 4px #fff;
	border-radius: 150px;
	margin-top:10px;
	z-index: 999;
	position: absolute;
	display: inline-block;
	float: left;
	left:50%;
	margin-left:-60px;
}
.profile-user h6 { font-size:12pt; font-weight: normal; color:#333; }

.profile-user {
	margin:auto 0;
	display: block;
	margin-top:150px;
}

.left-profile {
	padding:10px; float:left;display:inline-block;width:240px; background:white;border-right:solid 1px #d5d5d5;}

.right-profile {
	float:left;display:inline-block;width:580px; background:white;padding-left:23px; overflow:scroll;
}

.right-profile a { 
	text-decoration: none;
	font-size:9pt;
	font-weight: bold;
	color: #333; }

.right-profile a:hover {
	color:#617da2;
} 

/* Image label */

figure { display: table; margin:0 auto;}

figure img { border: solid 1px #000;}
figcaption { 
	display: table-caption; 
	caption-side: bottom ;
	background: rgba(0, 0, 0, 0.6);
	margin-top:-21px;
	padding-top:-21px; }





