<li>
	<div class="single-member">
			<%= image_tag 'http://y14.io/images/me.png', class: 'member' %>
			<span class="member-name"><%= project_member.user.name %></span>
			<span class="member-role">
				<%= get_user_role(project, project_member.user) %>
			</span>				
	</div>
</li>