<div class="new-team">
  <ul>
	<li>
		<div>
			<img src="http://y14.io/images/me.png" class="member">
		</div>
	</li>
	<li>
		<div>
			<img src="http://y14.io/images/me.png" class="member">
		</div>
	</li>
	<li>
		<div>
			<%= link_to image_tag('new_member.png'), '#', id: 'new-member-modal' %>
		</div>
	</li>
</ul>